.bespin {
    div.bookmarkletbar {
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-align: left;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-align: left;
        
        div {
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
        }
        
        select {
            width: 100%;
        }
    }
}