
body {
    padding: 0;
    margin: 0;
    background-color: #4f4e45;
    font-family: Calibri, Arial, sans-serif;

    overflow: hidden;
	background-color: #2A211C;
    -webkit-user-select: none;
    -moz-user-select: none;
}

img {
    border: none;
}

*:focus { outline: 0; }

/*
 * Contains the Styles Scrollbars
 */

/* Turn on a 16x16 scrollbar */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:end:increment {
    background-image: url("../images/scroll_cntrl_dwn.png");
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:start:decrement {
    background-image: url("../images/scroll_cntrl_up.png");
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
    background-image: url("../images/scroll_gutter_top.png"), url("../images/scroll_gutter_mid.png");
    background-repeat: no-repeat, repeat-y;
}

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
    background-image: url("../images/scroll_gutter_btm.png"), url("../images/scroll_gutter_mid.png");
    background-repeat: no-repeat, repeat-y;
    background-position: bottom left, 0 0;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height: 56px;
    -webkit-border-image: url("../images/scroll_thumb.png") 8 0 8 0 stretch stretch;
    border-width: 8 0 8 0;
}
